doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title SuAVE - Home
    link(href='/vendor/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/bootstrap-table.css', rel='stylesheet')
    link(href='/css/home.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/table.css')
    link(rel='stylesheet', href='/css/radio.css')
    // Icons
    script(src='/vendor/lumino.glyphs.js')

  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sidebar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='')
            span SuAVE
          ul.user-menu
            li.dropdown.pull-right
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                svg.glyph.stroked.male-user
                  use(xlink:href='#stroked-male-user')
                |  User
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a#btn-update
                    svg.glyph.stroked.male-user
                      use(xlink:href='#stroked-male-user')
                    |  Profile
                li
                  a#btn-logout
                    svg.glyph.stroked.cancel
                      use(xlink:href='#stroked-cancel')
                    |  Logout
      // /.container-fluid
    #sidebar-collapse.col-sm-3.col-lg-2.sidebar
      form(role='search')
        .form-group
          input.form-control(type='text', placeholder='Search')
      ul.nav.menu
        li
          a(href='/home')
            svg.glyph.stroked.app-window
              use(xlink:href='#stroked-app-window')
            |  Gallery
        li.parent
          a
            span(data-toggle='collapse', href='#sub-item-1')
              svg.glyph.stroked.plus.sign
                use(xlink:href='#stroked-plus-sign')
              |  Annotation
          ul#sub-item-1.children.collapse.in
            li.active
              a(href='/comments')
                svg.glyph.stroked.notepad
                  use(xlink:href='#stroked-notepad')
                |  Comment View
            li
              a(href='/snapshots')
                svg.glyph.stroked.landscape
                  use(xlink:href='#stroked-landscape')
                |  Snapshot View
        li
          a(href='icons.html')
            svg.glyph.stroked.star
              use(xlink:href='#stroked-star')
            |  Icons
    // /.sidebar
    .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main

      .row
        .col-lg-12
          h1.page-header Comments
      // /.row
      .row
        .col-lg-12
          .panel.panel-default
            .panel-body
              #toolbar
                button.btn.btn-danger Delete
              table#comments-table(data-toolbar="#toolbar", data-toggle='table', data-detail-view='true', data-detail-formatter="detailFormatter", data-show-refresh='true', data-show-toggle='true', data-show-columns='true', data-search='true', data-select-item-name='toolbar1', data-pagination='true', data-sort-name='date', data-sort-order='desc')
                thead
                  tr
                    th(data-checkbox='true')
                    th(data-field='file', data-sortable='true') File
                    th(data-field='commenter', data-sortable='true') Commenter
                    th(data-field='content', data-sortable='true') Content
                    th(data-field='view', data-sortable='true') View
                    th(data-field='category', data-sortable='true') Category
                    th(data-field='filters', data-sortable='true') Filters
                    th(data-field='date', data-sortable='true') Date
                    th(data-field='action', data-formatter='actionFormatter', data-events='actionEvents') Action

    include modals/share

    script(src='/vendor/jquery.min.js')
    script(src='/vendor/bootstrap-table.js')
    script(src='/vendor/jquery.ddslick.min.js')
    script(src='/vendor/bootstrap.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/js/views/comments.js')
    script(src='/js/controllers/commentsController.js')

    script.
      !function ($) {
      $(document).on("click","ul.nav li.parent > a > span.icon", function(){
      $(this).find('em:first').toggleClass("glyphicon-minus");
      });
      $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
      }(window.jQuery);
      $(window).on('resize', function () {
      if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
      })
      $(window).on('resize', function () {
      if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
      })
