
extends layout

block content

  #login-container
    form#login-form.well.span4(method='post')
      h1 Welcome to SuAVE!
      p.subheading Please Login To Your Account
      label Username
      input#user-tf.span4.required(type='text', name='user')
      label Password
      input#pass-tf.span4.required(type='password', name='pass')
      button#btn-login.btn.btn-info.btn-raised(type='submit')
        i.icon-lock.icon-white
        | Sign in
      .checkbox#login-checkbox
        label#remember-me
          input(type='checkbox', checked='checked')
          |  Remember Me
      .clear-fix
      hr
      .btm-links
        a#forgot-password(href='#') Forgot Your Password?
        a#create-account(href='/signup') Create An Account

  include modals/alert
  include modals/lost-password

block scripts
  script(src='/vendor/jquery.min.js')
  script(src='/vendor/jquery.form.js')
  script(src='/vendor/bootstrap.min.js')
  script(src='/vendor/bootstrap-modal.js')
  script(src='/vendor/bootstrap-transition.js')
  script(src='/vendor/material.min.js')
  script(src='/vendor/ripples.min.js')
  script(src='/js/views/login.js')
  script(src='/js/controllers/loginController.js')
  script(src='/js/form-validators/loginValidator.js')
  script(src='/js/form-validators/emailValidator.js')
  script(src='/js/data/imageJson.js')
