html
  body
    .modal-new-survey.modal.hide.fade
      .modal-header
        button.close(data-dismiss='modal') x
        h3
      .modal-body
        label Select a csv file to upload:
        form#new-survey(action='/uploadCSV', method='POST', enctype='multipart/form-data')
          hr
          fieldset
            .control-group
              input(type='file', name='file', required='required')
            hr
            p.subheading Please name the survey:
            .control-group
              input(type='text', id='new-file-name', name='name', required='required')
              p#error-text(style='color:red;')
            hr
            .form-buttons
              button#new-survey-submit.btn(type='submit' data-dismiss='modal') submit
      .modal-footer
        p(style="text-align: left; position: absolute;") Please check out the format of uploading file:
        button#help-button.btn.btn-newSurvey Help
