html
  body
    .modal-select-collection.modal.hide.fade
      .modal-header
        button.close(data-dismiss='modal') x
        h3
      .modal-body
        p Public View Options:
        #pv-views.container
        .container
          .row
            .col-xs-3
              p.subheading Select a collection:
              br
              select#collect-select
                option(selected='', disabled='', hidden='')
                option(value='default') Default
                option(value='color') Color
                option(value='gender') Gender
                option(value='science') Science
            .col-xs-3
              p.subheading Select a field to associate with survey icons:
              select#column-select
        #column-collect.container
        .form-buttons
          button#select-collection-submit.btn(data-dismiss='modal') submit
