html
  body
    .modal-select-collection.modal.hide.fade
      .modal-header
        button.close(data-dismiss='modal') x
        h3
      .modal-body
        #pv-views.container
        .container
          .row
            .col-xs-3
              p.subheading Please select a column to be labeled:
              select#column-select
            .col-xs-3
              p.subheading Please select a collection:
              select#collect-select
                option(selected='', disabled='', hidden='')
                option(value='default') Default
                option(value='color') Color
                option(value='gender') Gender
                option(value='shape') Shape
        .container
          .row
            .col-xs-3
              #column-drop
            .col-xs-3
              #collect-drop.col-xs-3
        .form-buttons
          button#select-collection-submit.btn submit
